In [1]:
import json
import requests
import pandas as pd
import pprint

In [2]:
#REQUESTING COVID DATA--1
url_1 = 'https://data.covid19india.org/v4/min/data.min.json' 
response_1=requests.get(url_1)
#READING THE DATA 
data_1=json.loads(response_1.text)
#pprint.pprint(data_1)
#pprint.pprint(data_1)

In [3]:
df=pd.DataFrame(data_1)
df

,AN,AP,AR,AS,BR,CH,CT,DL,DN,GA,...,PY,RJ,SK,TG,TN,TR,TT,UP,UT,WB
delta,"{'tested': 1376, 'vaccinated1': 3, 'vaccinated...","{'confirmed': 385, 'deceased': 4, 'recovered':...","{'confirmed': 1, 'recovered': 9, 'tested': 334...","{'confirmed': 212, 'deceased': 1, 'recovered':...","{'confirmed': 8, 'recovered': 9, 'tested': 226...","{'confirmed': 5, 'recovered': 3, 'tested': 140...","{'confirmed': 32, 'deceased': 1, 'recovered': ...","{'confirmed': 45, 'recovered': 46, 'tested': 5...","{'recovered': 1, 'vaccinated1': 3, 'vaccinated...","{'confirmed': 23, 'recovered': 53, 'tested': 2...",...,"{'confirmed': 38, 'recovered': 45, 'tested': 2...","{'confirmed': 2, 'recovered': 2, 'tested': 134...","{'confirmed': 21, 'deceased': 1, 'recovered': ...","{'confirmed': 121, 'deceased': 1, 'recovered':...","{'confirmed': 1009, 'deceased': 19, 'recovered...","{'confirmed': 12, 'recovered': 2, 'tested': 35...","{'confirmed': 12907, 'deceased': 251, 'other':...","{'confirmed': 6, 'recovered': 6, 'tested': 161...","{'confirmed': 5, 'recovered': 9, 'tested': 952...","{'confirmed': 914, 'deceased': 15, 'recovered'..."
delta21_14,{'confirmed': 9},{'confirmed': 3220},{'confirmed': 87},{'confirmed': 1499},{'confirmed': 30},{'confirmed': 23},{'confirmed': 124},{'confirmed': 195},{'confirmed': 4},{'confirmed': 409},...,{'confirmed': 343},{'confirmed': 31},{'confirmed': 82},{'confirmed': 1068},{'confirmed': 8827},{'confirmed': 49},{'confirmed': 109755},{'confirmed': 74},{'confirmed': 88},{'confirmed': 4193}
delta7,"{'confirmed': 3, 'recovered': 5, 'tested': 893...","{'confirmed': 2873, 'deceased': 30, 'recovered...","{'confirmed': 66, 'recovered': 97, 'tested': 4...","{'confirmed': 2056, 'deceased': 24, 'recovered...","{'confirmed': 40, 'recovered': 31, 'tested': 1...","{'confirmed': 28, 'recovered': 20, 'tested': 1...","{'confirmed': 205, 'deceased': 5, 'recovered':...","{'confirmed': 267, 'recovered': 239, 'tested':...","{'recovered': 2, 'vaccinated1': 2802, 'vaccina...","{'confirmed': 222, 'deceased': 6, 'recovered':...",...,"{'confirmed': 278, 'recovered': 315, 'tested':...","{'confirmed': 27, 'recovered': 26, 'tested': 9...","{'confirmed': 79, 'deceased': 2, 'other': 6, '...","{'confirmed': 1189, 'deceased': 9, 'recovered'...","{'confirmed': 7407, 'deceased': 97, 'recovered...","{'confirmed': 87, 'recovered': 62, 'tested': 2...","{'confirmed': 96071, 'deceased': 3727, 'other'...","{'confirmed': 63, 'deceased': 1, 'recovered': ...","{'confirmed': 75, 'deceased': 1, 'other': 12, ...","{'confirmed': 6453, 'deceased': 86, 'recovered..."
districts,"{'Nicobars': {'delta7': {'vaccinated1': 62, 'v...","{'Anantapur': {'delta': {'confirmed': 4, 'reco...","{'Anjaw': {'delta7': {'vaccinated1': 45, 'vacc...","{'Baksa': {'delta': {'vaccinated1': 39, 'vacci...","{'Araria': {'delta': {'vaccinated1': 5177, 'va...","{'Chandigarh': {'delta': {'confirmed': 5, 'rec...","{'Balod': {'delta': {'vaccinated1': 523, 'vacc...","{'Delhi': {'delta': {'confirmed': 45, 'recover...",{'Dadra and Nagar Haveli': {'delta': {'vaccina...,"{'North Goa': {'delta': {'vaccinated1': 1070, ...",...,"{'Karaikal': {'delta': {'confirmed': 6, 'recov...","{'Ajmer': {'delta': {'vaccinated1': 110, 'vacc...",{'East Sikkim': {'delta7': {'vaccinated1': 528...,"{'Adilabad': {'delta': {'vaccinated1': 165, 'v...",{'Airport Quarantine': {'delta21_14': {'confir...,"{'Dhalai': {'delta': {'vaccinated1': 5, 'vacci...",NaN,"{'Agra': {'delta': {'vaccinated1': 178, 'vacci...","{'Almora': {'delta': {'vaccinated1': 37, 'vacc...","{'Alipurduar': {'delta': {'confirmed': 4, 'rec..."
meta,"{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...",...,"{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'date': '2021-10-31', 'last_updated': '2021-1..."
total,"{'confirmed': 7651, 'deceased': 129, 'recovere...","{'confirmed': 2066450, 'deceased': 14373, 'rec...","{'confirmed': 55155, 'deceased': 280, 'recover...","{'confirmed': 610645, 'deceased': 5997, 'other...","{'confirmed': 726098, 'deceased': 9661, 'other...","{'confirmed': 65351, 'deceased': 820, 'recover...","{'confirmed': 1006052, 'deceased': 13577, 'rec...","{'confirmed': 1439870, 'deceased': 25091, 'rec...","{'confirmed': 10681, 'deceased': 4, 'other': 3...","{'confirmed': 178108, 'deceased': 3364, 'recov...",...,"{'confirmed': 128013, 'deceased': 1857, 'recov...","{'confirmed': 954429, 'deceased': 8954, 'recov...","{'confirmed': 31979, 'deceased': 396, 'other':...","{'confirmed': 671463, 'deceased': 3956, 'recov...","{'confirmed': 2702623, 'deceased': 36116, 'rec...","{'confirmed': 84468, 'deceased': 813, 'other':...","{'confirmed': 34285612, 'deceased': 458470, 'o...","{'confirmed': 1710158, 'deceased': 22900, 'rec...","{'confirmed': 343896, 'deceased': 7400, 'other...","{'confirmed': 1592908, 'deceased': 19141, 'rec..."

In [4]:
#transpose
df1=df.T
df1

,delta,delta21_14,delta7,districts,meta,total
AN,"{'tested': 1376, 'vaccinated1': 3, 'vaccinated...",{'confirmed': 9},"{'confirmed': 3, 'recovered': 5, 'tested': 893...","{'Nicobars': {'delta7': {'vaccinated1': 62, 'v...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 7651, 'deceased': 129, 'recovere..."
AP,"{'confirmed': 385, 'deceased': 4, 'recovered':...",{'confirmed': 3220},"{'confirmed': 2873, 'deceased': 30, 'recovered...","{'Anantapur': {'delta': {'confirmed': 4, 'reco...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 2066450, 'deceased': 14373, 'rec..."
AR,"{'confirmed': 1, 'recovered': 9, 'tested': 334...",{'confirmed': 87},"{'confirmed': 66, 'recovered': 97, 'tested': 4...","{'Anjaw': {'delta7': {'vaccinated1': 45, 'vacc...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 55155, 'deceased': 280, 'recover..."
AS,"{'confirmed': 212, 'deceased': 1, 'recovered':...",{'confirmed': 1499},"{'confirmed': 2056, 'deceased': 24, 'recovered...","{'Baksa': {'delta': {'vaccinated1': 39, 'vacci...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 610645, 'deceased': 5997, 'other..."
BR,"{'confirmed': 8, 'recovered': 9, 'tested': 226...",{'confirmed': 30},"{'confirmed': 40, 'recovered': 31, 'tested': 1...","{'Araria': {'delta': {'vaccinated1': 5177, 'va...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 726098, 'deceased': 9661, 'other..."
CH,"{'confirmed': 5, 'recovered': 3, 'tested': 140...",{'confirmed': 23},"{'confirmed': 28, 'recovered': 20, 'tested': 1...","{'Chandigarh': {'delta': {'confirmed': 5, 'rec...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 65351, 'deceased': 820, 'recover..."
CT,"{'confirmed': 32, 'deceased': 1, 'recovered': ...",{'confirmed': 124},"{'confirmed': 205, 'deceased': 5, 'recovered':...","{'Balod': {'delta': {'vaccinated1': 523, 'vacc...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 1006052, 'deceased': 13577, 'rec..."
DL,"{'confirmed': 45, 'recovered': 46, 'tested': 5...",{'confirmed': 195},"{'confirmed': 267, 'recovered': 239, 'tested':...","{'Delhi': {'delta': {'confirmed': 45, 'recover...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 1439870, 'deceased': 25091, 'rec..."
DN,"{'recovered': 1, 'vaccinated1': 3, 'vaccinated...",{'confirmed': 4},"{'recovered': 2, 'vaccinated1': 2802, 'vaccina...",{'Dadra and Nagar Haveli': {'delta': {'vaccina...,"{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 10681, 'deceased': 4, 'other': 3..."
GA,"{'confirmed': 23, 'recovered': 53, 'tested': 2...",{'confirmed': 409},"{'confirmed': 222, 'deceased': 6, 'recovered':...","{'North Goa': {'delta': {'vaccinated1': 1070, ...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 178108, 'deceased': 3364, 'recov..."
GJ,"{'confirmed': 20, 'recovered': 23, 'tested': 3...",{'confirmed': 149},"{'confirmed': 159, 'deceased': 2, 'recovered':...","{'Ahmedabad': {'delta': {'confirmed': 4, 'reco...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 826577, 'deceased': 10089, 'reco..."
HP,"{'confirmed': 85, 'deceased': 1, 'recovered': ...",{'confirmed': 958},"{'confirmed': 1537, 'deceased': 20, 'other': -...","{'Bilaspur': {'delta': {'confirmed': 11, 'reco...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 224106, 'deceased': 3738, 'other..."
HR,"{'confirmed': 11, 'recovered': 10, 'tested': 2...",{'confirmed': 83},"{'confirmed': 95, 'recovered': 87, 'tested': 1...","{'Ambala': {'delta': {'vaccinated1': 100, 'vac...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 771252, 'deceased': 10049, 'reco..."
JH,"{'confirmed': 10, 'recovered': 8, 'tested': 31...",{'confirmed': 78},"{'confirmed': 137, 'deceased': 3, 'recovered':...","{'Bokaro': {'delta': {'vaccinated1': 3236, 'va...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 348764, 'deceased': 5138, 'recov..."
JK,"{'confirmed': 95, 'recovered': 79, 'tested': 3...",{'confirmed': 529},"{'confirmed': 611, 'deceased': 3, 'recovered':...","{'Anantnag': {'delta': {'confirmed': 2, 'recov...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 332249, 'deceased': 4432, 'recov..."
KA,"{'confirmed': 292, 'deceased': 11, 'recovered'...",{'confirmed': 2432},"{'confirmed': 2347, 'deceased': 75, 'recovered...","{'Bagalkote': {'delta': {'vaccinated1': 823, '...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 2988333, 'deceased': 38082, 'oth..."
KL,"{'confirmed': 7167, 'deceased': 167, 'recovere...",{'confirmed': 59521},"{'confirmed': 53326, 'deceased': 3089, 'recove...","{'Alappuzha': {'delta': {'confirmed': 270, 'de...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 4968657, 'deceased': 31681, 'oth..."
LA,"{'confirmed': 11, 'recovered': 9, 'tested': 38...",{'confirmed': 26},"{'confirmed': 58, 'recovered': 28, 'tested': 2...","{'Kargil': {'delta': {'vaccinated2': 3}, 'delt...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 20962, 'deceased': 208, 'recover..."
LD,"{'tested': 31, 'vaccinated2': 4}",NaN,"{'tested': 1625, 'vaccinated1': 69, 'vaccinate...","{'Lakshadweep': {'delta': {'tested': 31, 'vacc...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 10365, 'deceased': 51, 'other': ..."
MH,"{'confirmed': 1172, 'deceased': 20, 'recovered...",{'confirmed': 13825},"{'confirmed': 8117, 'deceased': 200, 'other': ...","{'Ahmednagar': {'delta': {'confirmed': 138, 'd...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 6611078, 'deceased': 140216, 'ot..."
ML,"{'confirmed': 22, 'deceased': 1, 'recovered': ...",{'confirmed': 530},"{'confirmed': 256, 'deceased': 4, 'recovered':...",{'East Garo Hills': {'delta': {'recovered': 1}...,"{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 83627, 'deceased': 1450, 'recove..."
MN,"{'confirmed': 63, 'deceased': 1, 'recovered': ...",{'confirmed': 734},"{'confirmed': 439, 'deceased': 10, 'recovered'...","{'Bishnupur': {'delta7': {'vaccinated1': 685, ...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 123731, 'deceased': 1921, 'recov..."
MP,"{'confirmed': 16, 'recovered': 8, 'tested': 55...",{'confirmed': 63},"{'confirmed': 105, 'deceased': 1, 'recovered':...","{'Agar Malwa': {'delta': {'vaccinated1': 12, '...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 792854, 'deceased': 10524, 'reco..."
MZ,"{'confirmed': 579, 'deceased': 2, 'recovered':...",{'confirmed': 6770},"{'confirmed': 4098, 'deceased': 21, 'recovered...","{'Aizawl': {'delta': {'confirmed': 361, 'decea...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 121359, 'deceased': 432, 'recove..."
NL,"{'confirmed': 11, 'deceased': 1, 'other': 1, '...",{'confirmed': 162},"{'confirmed': 130, 'deceased': 6, 'other': 13,...","{'Dimapur': {'delta': {'confirmed': 3, 'deceas...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 31842, 'deceased': 685, 'other':..."
OR,"{'confirmed': 488, 'deceased': 4, 'recovered':...",{'confirmed': 3381},"{'confirmed': 3046, 'deceased': 24, 'recovered...","{'Angul': {'delta': {'confirmed': 1, 'recovere...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 1041457, 'deceased': 8386, 'reco..."
PB,"{'confirmed': 26, 'deceased': 1, 'recovered': ...",{'confirmed': 159},"{'confirmed': 192, 'deceased': 8, 'recovered':...","{'Amritsar': {'delta': {'confirmed': 4, 'recov...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 602401, 'deceased': 16559, 'reco..."
PY,"{'confirmed': 38, 'recovered': 45, 'tested': 2...",{'confirmed': 343},"{'confirmed': 278, 'recovered': 315, 'tested':...","{'Karaikal': {'delta': {'confirmed': 6, 'recov...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 128013, 'deceased': 1857, 'recov..."
RJ,"{'confirmed': 2, 'recovered': 2, 'tested': 134...",{'confirmed': 31},"{'confirmed': 27, 'recovered': 26, 'tested': 9...","{'Ajmer': {'delta': {'vaccinated1': 110, 'vacc...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 954429, 'deceased': 8954, 'recov..."
SK,"{'confirmed': 21, 'deceased': 1, 'recovered': ...",{'confirmed': 82},"{'confirmed': 79, 'deceased': 2, 'other': 6, '...",{'East Sikkim': {'delta7': {'vaccinated1': 528...,"{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 31979, 'deceased': 396, 'other':..."
TG,"{'confirmed': 121, 'deceased': 1, 'recovered':...",{'confirmed': 1068},"{'confirmed': 1189, 'deceased': 9, 'recovered'...","{'Adilabad': {'delta': {'vaccinated1': 165, 'v...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 671463, 'deceased': 3956, 'recov..."
TN,"{'confirmed': 1009, 'deceased': 19, 'recovered...",{'confirmed': 8827},"{'confirmed': 7407, 'deceased': 97, 'recovered...",{'Airport Quarantine': {'delta21_14': {'confir...,"{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 2702623, 'deceased': 36116, 'rec..."
TR,"{'confirmed': 12, 'recovered': 2, 'tested': 35...",{'confirmed': 49},"{'confirmed': 87, 'recovered': 62, 'tested': 2...","{'Dhalai': {'delta': {'vaccinated1': 5, 'vacci...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 84468, 'deceased': 813, 'other':..."
TT,"{'confirmed': 12907, 'deceased': 251, 'other':...",{'confirmed': 109755},"{'confirmed': 96071, 'deceased': 3727, 'other'...",NaN,"{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 34285612, 'deceased': 458470, 'o..."
UP,"{'confirmed': 6, 'recovered': 6, 'tested': 161...",{'confirmed': 74},"{'confirmed': 63, 'deceased': 1, 'recovered': ...","{'Agra': {'delta': {'vaccinated1': 178, 'vacci...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 1710158, 'deceased': 22900, 'rec..."
UT,"{'confirmed': 5, 'recovered': 9, 'tested': 952...",{'confirmed': 88},"{'confirmed': 75, 'deceased': 1, 'other': 12, ...","{'Almora': {'delta': {'vaccinated1': 37, 'vacc...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 343896, 'deceased': 7400, 'other..."
WB,"{'confirmed': 914, 'deceased': 15, 'recovered'...",{'confirmed': 4193},"{'confirmed': 6453, 'deceased': 86, 'recovered...","{'Alipurduar': {'delta': {'confirmed': 4, 'rec...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 1592908, 'deceased': 19141, 'rec..."

In [5]:
 pd.DataFrame([x for x in df1['delta']]).keys()

Index(['tested', 'vaccinated1', 'vaccinated2', 'confirmed', 'deceased',
       'recovered', 'other'],
      dtype='object')

In [6]:
df1['delta'].keys()

Index(['AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DL', 'DN', 'GA', 'GJ', 'HP',
       'HR', 'JH', 'JK', 'KA', 'KL', 'LA', 'LD', 'MH', 'ML', 'MN', 'MP', 'MZ',
       'NL', 'OR', 'PB', 'PY', 'RJ', 'SK', 'TG', 'TN', 'TR', 'TT', 'UP', 'UT',
       'WB'],
      dtype='object')

# delta

In [7]:
delta = pd.DataFrame([x for x in df1['delta']],index=df1['delta'].keys())

      tested  vaccinated1  vaccinated2  confirmed  deceased  recovered  other
AN    1376.0          3.0         13.0        NaN       NaN        NaN    NaN
AP   39848.0      20497.0      24137.0      385.0       4.0      675.0    NaN
AR     334.0         42.0        195.0        1.0       NaN        9.0    NaN
AS   15060.0      19124.0      37463.0      212.0       1.0      236.0    NaN
BR  226443.0     114694.0     145827.0        8.0       NaN        9.0    NaN
CH    1403.0        211.0       1282.0        5.0       NaN        3.0    NaN
CT   11869.0      21312.0      39393.0       32.0       1.0       32.0    NaN
DL   56751.0      12482.0      11839.0       45.0       NaN       46.0    NaN
DN       NaN          3.0         20.0        NaN       NaN        1.0    NaN
GA    2361.0       2572.0      12404.0       23.0       NaN       53.0    NaN
GJ   34282.0      14685.0      62096.0       20.0       NaN       23.0    NaN
HP    3613.0        371.0       8192.0       85.0       1.0      198.0    NaN
HR   20588.0       7867.0      15801.0       11.0       NaN       10.0    NaN
JH   31238.0      41034.0      51488.0       10.0       NaN        8.0    NaN
JK   38915.0       1584.0      45202.0       95.0       NaN       79.0    NaN
KA  106939.0      17604.0      28163.0      292.0      11.0      345.0    NaN
KL   65158.0       2010.0      11914.0     7167.0     167.0     6439.0    NaN
LA     388.0          NaN          2.0       11.0       NaN        9.0    NaN
LD      31.0          NaN          4.0        NaN       NaN        NaN    NaN
MH  108040.0      53161.0      31988.0     1172.0      20.0     1399.0    NaN
ML    1559.0         38.0        203.0       22.0       1.0       51.0    NaN
MN    1689.0        705.0       4283.0       63.0       1.0       62.0    NaN
MP   55368.0       5713.0      77062.0       16.0       NaN        8.0    NaN
MZ    5945.0         10.0         51.0      579.0       2.0      610.0    NaN
NL     468.0        193.0        822.0       11.0       1.0       21.0    1.0
OR   69675.0      21420.0      25651.0      488.0       4.0      450.0    NaN
PB   34152.0       3321.0       4418.0       26.0       1.0       25.0    NaN
PY    2662.0        171.0        532.0       38.0       NaN       45.0    NaN
RJ   13454.0       9399.0      29672.0        2.0       NaN        2.0    NaN
SK     389.0          NaN          NaN       21.0       1.0        8.0    NaN
TG   25021.0      38781.0      26738.0      121.0       1.0      183.0    NaN
TN  123701.0      77325.0     106584.0     1009.0      19.0     1183.0    NaN
TR    3501.0          3.0        650.0       12.0       NaN        2.0    NaN
TT  881379.0     750410.0     933460.0    12907.0     251.0    13152.0    1.0
UP  161458.0      53401.0      57556.0        6.0       NaN        6.0    NaN
UT    9524.0       1065.0      12934.0        5.0       NaN        9.0    NaN
WB   47417.0     209609.0      58881.0      914.0      15.0      913.0    NaN

In [ ]:
# DATA CLEANING - delta

In [8]:
pd.isnull(delta).sum()

tested          1
vaccinated1     3
vaccinated2     1
confirmed       3
deceased       19
recovered       2
other          35
dtype: int64

In [13]:
#replacing nan with zero
delta=delta.fillna(0)
delta

    tested  vaccinated1  vaccinated2  confirmed  deceased  recovered  other
AN    1376            3           13          0         0          0      0
AP   39848        20497        24137        385         4        675      0
AR     334           42          195          1         0          9      0
AS   15060        19124        37463        212         1        236      0
BR  226443       114694       145827          8         0          9      0
CH    1403          211         1282          5         0          3      0
CT   11869        21312        39393         32         1         32      0
DL   56751        12482        11839         45         0         46      0
DN       0            3           20          0         0          1      0
GA    2361         2572        12404         23         0         53      0
GJ   34282        14685        62096         20         0         23      0
HP    3613          371         8192         85         1        198      0
HR   20588         7867        15801         11         0         10      0
JH   31238        41034        51488         10         0          8      0
JK   38915         1584        45202         95         0         79      0
KA  106939        17604        28163        292        11        345      0
KL   65158         2010        11914       7167       167       6439      0
LA     388            0            2         11         0          9      0
LD      31            0            4          0         0          0      0
MH  108040        53161        31988       1172        20       1399      0
ML    1559           38          203         22         1         51      0
MN    1689          705         4283         63         1         62      0
MP   55368         5713        77062         16         0          8      0
MZ    5945           10           51        579         2        610      0
NL     468          193          822         11         1         21      1
OR   69675        21420        25651        488         4        450      0
PB   34152         3321         4418         26         1         25      0
PY    2662          171          532         38         0         45      0
RJ   13454         9399        29672          2         0          2      0
SK     389            0            0         21         1          8      0
TG   25021        38781        26738        121         1        183      0
TN  123701        77325       106584       1009        19       1183      0
TR    3501            3          650         12         0          2      0
TT  881379       750410       933460      12907       251      13152      1
UP  161458        53401        57556          6         0          6      0
UT    9524         1065        12934          5         0          9      0
WB   47417       209609        58881        914        15        913      0

In [10]:
# checking dtype 
delta.dtypes

tested         float64
vaccinated1    float64
vaccinated2    float64
confirmed      float64
deceased       float64
recovered      float64
other          float64
dtype: object

In [11]:
# changing datatype of the all columns together
delta=delta.astype(int)
delta.dtypes

tested         int32
vaccinated1    int32
vaccinated2    int32
confirmed      int32
deceased       int32
recovered      int32
other          int32
dtype: object

In [14]:
delta.to_csv(r'D:\delta.csv')

# delta21_14

In [9]:
df1['delta21_14'].keys()

Index(['AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DL', 'DN', 'GA', 'GJ', 'HP',
       'HR', 'JH', 'JK', 'KA', 'KL', 'LA', 'LD', 'MH', 'ML', 'MN', 'MP', 'MZ',
       'NL', 'OR', 'PB', 'PY', 'RJ', 'SK', 'TG', 'TN', 'TR', 'TT', 'UP', 'UT',
       'WB'],
      dtype='object')

In [10]:
 df1['delta21_14']

AN         {'confirmed': 9}
AP      {'confirmed': 3220}
AR        {'confirmed': 87}
AS      {'confirmed': 1499}
BR        {'confirmed': 30}
CH        {'confirmed': 23}
CT       {'confirmed': 124}
DL       {'confirmed': 195}
DN         {'confirmed': 4}
GA       {'confirmed': 409}
GJ       {'confirmed': 149}
HP       {'confirmed': 958}
HR        {'confirmed': 83}
JH        {'confirmed': 78}
JK       {'confirmed': 529}
KA      {'confirmed': 2432}
KL     {'confirmed': 59521}
LA        {'confirmed': 26}
LD                      NaN
MH     {'confirmed': 13825}
ML       {'confirmed': 530}
MN       {'confirmed': 734}
MP        {'confirmed': 63}
MZ      {'confirmed': 6770}
NL       {'confirmed': 162}
OR      {'confirmed': 3381}
PB       {'confirmed': 159}
PY       {'confirmed': 343}
RJ        {'confirmed': 31}
SK        {'confirmed': 82}
TG      {'confirmed': 1068}
TN      {'confirmed': 8827}
TR        {'confirmed': 49}
TT    {'confirmed': 109755}
UP        {'confirmed': 74}
UT        {'confirmed': 88}
WB      {'confirmed': 4193}
Name: delta21_14, dtype: object

In [20]:
n1=df1.dropna(subset='delta21_14')
delta21_14 = pd.DataFrame([x for x in n1['delta21_14']],index=n1['delta21_14'].keys())
delta21_14

    confirmed
AN          9
AP       3220
AR         87
AS       1499
BR         30
CH         23
CT        124
DL        195
DN          4
GA        409
GJ        149
HP        958
HR         83
JH         78
JK        529
KA       2432
KL      59521
LA         26
MH      13825
ML        530
MN        734
MP         63
MZ       6770
NL        162
OR       3381
PB        159
PY        343
RJ         31
SK         82
TG       1068
TN       8827
TR         49
TT     109755
UP         74
UT         88
WB       4193

In [21]:
# DATA CLEANING - districts_delta21_14

In [22]:
pd.isnull(delta21_14).sum()

confirmed    0
dtype: int64

In [26]:
#replacing nan with zero
delta21_14=delta21_14.fillna(0)
delta21_14

    confirmed
AN          9
AP       3220
AR         87
AS       1499
BR         30
CH         23
CT        124
DL        195
DN          4
GA        409
GJ        149
HP        958
HR         83
JH         78
JK        529
KA       2432
KL      59521
LA         26
MH      13825
ML        530
MN        734
MP         63
MZ       6770
NL        162
OR       3381
PB        159
PY        343
RJ         31
SK         82
TG       1068
TN       8827
TR         49
TT     109755
UP         74
UT         88
WB       4193

In [24]:
# checking dtype 
delta21_14.dtypes

confirmed    int64
dtype: object

In [25]:
# changing datatype of the all columns together
delta21_14=delta21_14.astype(int)
delta21_14.dtypes

confirmed    int32
dtype: object

In [27]:
delta21_14.to_csv(r'D:\delta21_14.csv')

# Delta7

In [12]:
 df1['delta7']

AN    {'confirmed': 3, 'recovered': 5, 'tested': 893...
AP    {'confirmed': 2873, 'deceased': 30, 'recovered...
AR    {'confirmed': 66, 'recovered': 97, 'tested': 4...
AS    {'confirmed': 2056, 'deceased': 24, 'recovered...
BR    {'confirmed': 40, 'recovered': 31, 'tested': 1...
CH    {'confirmed': 28, 'recovered': 20, 'tested': 1...
CT    {'confirmed': 205, 'deceased': 5, 'recovered':...
DL    {'confirmed': 267, 'recovered': 239, 'tested':...
DN    {'recovered': 2, 'vaccinated1': 2802, 'vaccina...
GA    {'confirmed': 222, 'deceased': 6, 'recovered':...
GJ    {'confirmed': 159, 'deceased': 2, 'recovered':...
HP    {'confirmed': 1537, 'deceased': 20, 'other': -...
HR    {'confirmed': 95, 'recovered': 87, 'tested': 1...
JH    {'confirmed': 137, 'deceased': 3, 'recovered':...
JK    {'confirmed': 611, 'deceased': 3, 'recovered':...
KA    {'confirmed': 2347, 'deceased': 75, 'recovered...
KL    {'confirmed': 53326, 'deceased': 3089, 'recove...
LA    {'confirmed': 58, 'recovered': 28, 'tested': 2...
LD    {'tested': 1625, 'vaccinated1': 69, 'vaccinate...
MH    {'confirmed': 8117, 'deceased': 200, 'other': ...
ML    {'confirmed': 256, 'deceased': 4, 'recovered':...
MN    {'confirmed': 439, 'deceased': 10, 'recovered'...
MP    {'confirmed': 105, 'deceased': 1, 'recovered':...
MZ    {'confirmed': 4098, 'deceased': 21, 'recovered...
NL    {'confirmed': 130, 'deceased': 6, 'other': 13,...
OR    {'confirmed': 3046, 'deceased': 24, 'recovered...
PB    {'confirmed': 192, 'deceased': 8, 'recovered':...
PY    {'confirmed': 278, 'recovered': 315, 'tested':...
RJ    {'confirmed': 27, 'recovered': 26, 'tested': 9...
SK    {'confirmed': 79, 'deceased': 2, 'other': 6, '...
TG    {'confirmed': 1189, 'deceased': 9, 'recovered'...
TN    {'confirmed': 7407, 'deceased': 97, 'recovered...
TR    {'confirmed': 87, 'recovered': 62, 'tested': 2...
TT    {'confirmed': 96071, 'deceased': 3727, 'other'...
UP    {'confirmed': 63, 'deceased': 1, 'recovered': ...
UT    {'confirmed': 75, 'deceased': 1, 'other': 12, ...
WB    {'confirmed': 6453, 'deceased': 86, 'recovered...
Name: delta7, dtype: object

In [13]:
df1['delta7'].keys()

Index(['AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DL', 'DN', 'GA', 'GJ', 'HP',
       'HR', 'JH', 'JK', 'KA', 'KL', 'LA', 'LD', 'MH', 'ML', 'MN', 'MP', 'MZ',
       'NL', 'OR', 'PB', 'PY', 'RJ', 'SK', 'TG', 'TN', 'TR', 'TT', 'UP', 'UT',
       'WB'],
      dtype='object')

In [14]:
 pd.DataFrame([x for x in df1['delta7']]).keys()

Index(['confirmed', 'recovered', 'tested', 'vaccinated1', 'vaccinated2',
       'deceased', 'other'],
      dtype='object')

In [28]:
delta7 = pd.DataFrame([x for x in df1['delta7']],index=df1['delta7'].keys())

In [29]:
# DATA CLEANING - DISTRICTS DELTA7

In [30]:
pd.isnull(delta7).sum()

confirmed       2
recovered       1
tested          1
vaccinated1     0
vaccinated2     0
deceased       12
other          31
dtype: int64

In [31]:
delta7=delta7.fillna(0)
delta7

    confirmed  recovered     tested  vaccinated1  vaccinated2  deceased  other
AN        3.0        5.0     8936.0          884        10640       0.0    0.0
AP     2873.0     3590.0   254532.0      1223010      1887005      30.0    0.0
AR       66.0       97.0     4788.0         3312        23647       0.0    0.0
AS     2056.0     2215.0   269097.0       274869       849889      24.0    0.0
BR       40.0       31.0  1378539.0      1286708      2144970       0.0    0.0
CH       28.0       20.0    10726.0         3680        21641       0.0    0.0
CT      205.0      103.0   147451.0       379374       604260       5.0    0.0
DL      267.0      239.0   395086.0       160323       269146       0.0    0.0
DN        0.0        2.0        0.0         2802        14244       0.0    0.0
GA      222.0      409.0    19026.0         8418        46494       6.0    0.0
GJ      159.0      116.0   328489.0       335172      1660382       2.0    0.0
HP     1537.0     1154.0    64352.0        13244       234011      20.0   -1.0
HR       95.0       87.0   148110.0       160777       368141       0.0    0.0
JH      137.0      250.0   464579.0       299587       428313       3.0    0.0
JK      611.0      572.0   254608.0        33383       414843       3.0    0.0
KA     2347.0     2339.0   724215.0       623591      1373861      75.0    0.0
KL    53326.0    48406.0   506604.0       109805       792534    3089.0    0.0
LA       58.0       28.0     2475.0          525         1532       0.0    0.0
LD        0.0        0.0     1625.0           69          796       0.0    0.0
MH     8117.0    15146.0   773516.0      1611778      1282938     200.0    7.0
ML      256.0      460.0    13944.0         7871        41927       4.0    0.0
MN      439.0      652.0    12787.0         7665        71276      10.0    0.0
MP      105.0       74.0   393209.0       148817      2034460       1.0    0.0
MZ     4098.0     5685.0    42841.0         4302        11262      21.0    0.0
NL      130.0      144.0     4606.0         4706        23628       6.0   13.0
OR     3046.0     3230.0   473919.0       731837       917236      24.0    0.0
PB      192.0      162.0   221114.0       200182       223256       8.0    0.0
PY      278.0      315.0    21095.0         8324        20073       0.0    0.0
RJ       27.0       26.0    95132.0       271500       864947       0.0    0.0
SK       79.0       76.0     2847.0          782        14044       2.0    6.0
TG     1189.0     1121.0   261086.0      1072389       961422       9.0    0.0
TN     7407.0     8852.0   858304.0       788134      1578082      97.0    0.0
TR       87.0       62.0    22126.0         4155        74642       0.0    0.0
TT    96071.0   101753.0  8431577.0     15883780     24527530    3727.0   37.0
UP       63.0       58.0  1140736.0      2266921      3130828       1.0    0.0
UT       75.0       74.0    83377.0        25250       258381       1.0   12.0
WB     6453.0     5953.0   300114.0      3809597      1871612      86.0    0.0

In [32]:
# checking dtype 
delta7.dtypes

confirmed      float64
recovered      float64
tested         float64
vaccinated1      int64
vaccinated2      int64
deceased       float64
other          float64
dtype: object

In [33]:
# changing datatype of the all columns together
delta7=delta7.astype(int)
delta7.dtypes

confirmed      int32
recovered      int32
tested         int32
vaccinated1    int32
vaccinated2    int32
deceased       int32
other          int32
dtype: object

In [34]:
delta7.to_csv(r'D:\delta7.csv')

# meta

In [17]:
df1['meta'].keys()

Index(['AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DL', 'DN', 'GA', 'GJ', 'HP',
       'HR', 'JH', 'JK', 'KA', 'KL', 'LA', 'LD', 'MH', 'ML', 'MN', 'MP', 'MZ',
       'NL', 'OR', 'PB', 'PY', 'RJ', 'SK', 'TG', 'TN', 'TR', 'TT', 'UP', 'UT',
       'WB'],
      dtype='object')

In [18]:
df1['meta']

AN    {'date': '2021-10-31', 'last_updated': '2021-1...
AP    {'date': '2021-10-31', 'last_updated': '2021-1...
AR    {'date': '2021-10-31', 'last_updated': '2021-1...
AS    {'date': '2021-10-31', 'last_updated': '2021-1...
BR    {'date': '2021-10-31', 'last_updated': '2021-1...
CH    {'date': '2021-10-31', 'last_updated': '2021-1...
CT    {'date': '2021-10-31', 'last_updated': '2021-1...
DL    {'date': '2021-10-31', 'last_updated': '2021-1...
DN    {'date': '2021-10-31', 'last_updated': '2021-1...
GA    {'date': '2021-10-31', 'last_updated': '2021-1...
GJ    {'date': '2021-10-31', 'last_updated': '2021-1...
HP    {'date': '2021-10-31', 'last_updated': '2021-1...
HR    {'date': '2021-10-31', 'last_updated': '2021-1...
JH    {'date': '2021-10-31', 'last_updated': '2021-1...
JK    {'date': '2021-10-31', 'last_updated': '2021-1...
KA    {'date': '2021-10-31', 'last_updated': '2021-1...
KL    {'date': '2021-10-31', 'last_updated': '2021-1...
LA    {'date': '2021-10-31', 'last_updated': '2021-1...
LD    {'date': '2021-10-31', 'last_updated': '2021-1...
MH    {'date': '2021-10-31', 'last_updated': '2021-1...
ML    {'date': '2021-10-31', 'last_updated': '2021-1...
MN    {'date': '2021-10-31', 'last_updated': '2021-1...
MP    {'date': '2021-10-31', 'last_updated': '2021-1...
MZ    {'date': '2021-10-31', 'last_updated': '2021-1...
NL    {'date': '2021-10-31', 'last_updated': '2021-1...
OR    {'date': '2021-10-31', 'last_updated': '2021-1...
PB    {'date': '2021-10-31', 'last_updated': '2021-1...
PY    {'date': '2021-10-31', 'last_updated': '2021-1...
RJ    {'date': '2021-10-31', 'last_updated': '2021-1...
SK    {'date': '2021-10-31', 'last_updated': '2021-1...
TG    {'date': '2021-10-31', 'last_updated': '2021-1...
TN    {'date': '2021-10-31', 'last_updated': '2021-1...
TR    {'date': '2021-10-31', 'last_updated': '2021-1...
TT    {'date': '2021-10-31', 'last_updated': '2021-1...
UP    {'date': '2021-10-31', 'last_updated': '2021-1...
UT    {'date': '2021-10-31', 'last_updated': '2021-1...
WB    {'date': '2021-10-31', 'last_updated': '2021-1...
Name: meta, dtype: object

In [19]:
pd.DataFrame([x for x in df1['meta']]).keys()

Index(['date', 'last_updated', 'population', 'tested', 'vaccinated', 'notes'], dtype='object')

In [35]:
meta =pd.DataFrame([x for x in df1['meta']],index=df1['meta'].keys())
meta

,date,last_updated,population,tested,vaccinated,notes
AN,2021-10-31,2021-11-01T11:03:10+05:30,397000,"{'date': '2021-10-31', 'source': 'https://dhs....",{'date': '2021-10-31'},NaN
AP,2021-10-31,2021-11-01T09:54:14+05:30,52221000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},NaN
AR,2021-10-31,2021-11-01T11:20:24+05:30,1504000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},[July 25]: All numbers corresponding to Papum ...
AS,2021-10-31,2021-11-01T09:54:14+05:30,34293000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},[Jan 1]: 1347 cases i.e Covid +'tive patients ...
BR,2021-10-31,2021-11-01T09:54:14+05:30,119520000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},[June 9] : 3951 deceased cases have been repor...
CH,2021-10-31,2021-11-01T09:54:14+05:30,1179000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},NaN
CT,2021-10-31,2021-11-01T09:54:14+05:30,28724000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},NaN
DL,2021-10-31,2021-11-01T09:54:14+05:30,19814000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},[July 14]: Value for the total tests conducted...
DN,2021-10-31,2021-11-01T09:54:14+05:30,959000,"{'date': '2020-10-20', 'source': 'https://dddc...",{'date': '2021-10-31'},NaN
GA,2021-10-31,2021-11-01T09:54:14+05:30,1540000,"{'date': '2021-10-31', 'source': 'https://www....",{'date': '2021-10-31'},NaN
GJ,2021-10-31,2021-11-01T09:54:14+05:30,67936000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},NaN
HP,2021-10-31,2021-11-01T09:54:14+05:30,7300000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},NaN
HR,2021-10-31,2021-11-01T09:54:14+05:30,28672000,"{'date': '2021-10-31', 'source': 'http://www.n...",{'date': '2021-10-31'},NaN
JH,2021-10-31,2021-11-01T09:54:14+05:30,37403000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},NaN
JK,2021-10-31,2021-11-01T09:54:14+05:30,13203000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},NaN
KA,2021-10-31,2021-11-01T09:54:14+05:30,65798000,"{'date': '2021-10-31', 'source': 'https://t.co...",{'date': '2021-10-31'},NaN
KL,2021-10-31,2021-11-01T09:54:14+05:30,35125000,"{'date': '2021-10-31', 'source': 'https://dhs....",{'date': '2021-10-31'},NaN
LA,2021-10-31,2021-11-01T09:54:14+05:30,293000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},NaN
LD,2021-10-31,2021-11-01T11:03:10+05:30,68000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},NaN
MH,2021-10-31,2021-11-01T09:54:14+05:30,122153000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},"[Dec 16]:10,218 duplicate cases & other state ..."
ML,2021-10-31,2021-11-01T09:54:14+05:30,3224000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},NaN
MN,2021-10-31,2021-11-01T09:54:14+05:30,3103000,"{'date': '2021-10-31', 'source': 'https://nrhm...",{'date': '2021-10-31'},[Dec 14]:824 out of 980 recovered cases are ba...
MP,2021-10-31,2021-11-01T09:54:14+05:30,82232000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},[14 Oct'20]: 4469 confirmed cases and 4469 rec...
MZ,2021-10-31,2021-11-01T09:54:14+05:30,1192000,"{'date': '2021-10-31', 'source': 'https://dipr...",{'date': '2021-10-31'},NaN
NL,2021-10-31,2021-11-01T09:54:14+05:30,2150000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},NaN
OR,2021-10-31,2021-11-01T09:54:14+05:30,43671000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},[July 12th] :20 non-covid deaths reported in s...
PB,2021-10-31,2021-11-01T09:54:14+05:30,29859000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},NaN
PY,2021-10-31,2021-11-01T09:54:14+05:30,1504000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},NaN
RJ,2021-10-31,2021-11-01T09:54:14+05:30,77264000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},NaN
SK,2021-10-31,2021-10-31T20:49:45+05:30,664000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},NaN
TG,2021-10-31,2021-11-01T09:54:14+05:30,37220000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},[July 27] : Telangana bulletin for the previou...
TN,2021-10-31,2021-11-01T09:54:14+05:30,75695000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},[June 29 2021]: TN has introduced a new distri...
TR,2021-10-31,2021-11-01T09:54:14+05:30,3992000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},[Aug 4]: Tripura bulletin for the previous day...
TT,2021-10-31,2021-11-01T11:20:24+05:30,1332900000,"{'date': '2021-10-31', 'source': 'https://twit...","{'date': '2021-10-31', 'source': 'https://www....",NaN
UP,2021-10-31,2021-11-01T09:54:14+05:30,224979000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},[Jan 1]:As no bulletin was provided for 31'st ...
UT,2021-10-31,2021-11-01T09:54:14+05:30,11141000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},[Oct 30]: Metric of capturing the testing data...
WB,2021-10-31,2021-11-01T09:54:14+05:30,96906000,"{'date': '2021-10-31', 'source': 'https://www....",{'date': '2021-10-31'},NaN

In [ ]:
# DATA CLEANING - meta

In [ ]:
pd.isnull(meta).sum()

In [40]:
meta=meta.loc[:, ["population"]]

In [41]:
#replacing nan with zero
meta=meta.fillna(0)
meta

    population
AN      397000
AP    52221000
AR     1504000
AS    34293000
BR   119520000
CH     1179000
CT    28724000
DL    19814000
DN      959000
GA     1540000
GJ    67936000
HP     7300000
HR    28672000
JH    37403000
JK    13203000
KA    65798000
KL    35125000
LA      293000
LD       68000
MH   122153000
ML     3224000
MN     3103000
MP    82232000
MZ     1192000
NL     2150000
OR    43671000
PB    29859000
PY     1504000
RJ    77264000
SK      664000
TG    37220000
TN    75695000
TR     3992000
TT  1332900000
UP   224979000
UT    11141000
WB    96906000

In [42]:
# checking dtype 
meta.dtypes

population    int64
dtype: object

In [44]:
# changing datatype of the all columns together
meta=meta.astype(int)
meta.dtypes

population    int32
dtype: object

In [45]:
meta.to_csv(r'D:\meta.csv')

# Total

In [110]:
df1['total'].keys()

Index(['AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DL', 'DN', 'GA', 'GJ', 'HP',
       'HR', 'JH', 'JK', 'KA', 'KL', 'LA', 'LD', 'MH', 'ML', 'MN', 'MP', 'MZ',
       'NL', 'OR', 'PB', 'PY', 'RJ', 'SK', 'TG', 'TN', 'TR', 'TT', 'UP', 'UT',
       'WB'],
      dtype='object')

In [114]:
pd.DataFrame([i for i in df1['total']]).keys()

Index(['confirmed', 'deceased', 'recovered', 'tested', 'vaccinated1',
       'vaccinated2', 'other'],
      dtype='object')

In [46]:
total = pd.DataFrame([i for i in df1['total']],index=df1['total'].keys())

In [47]:
# DATA CLEANING - Districts_total

In [48]:
pd.isnull(total).sum()

confirmed       0
deceased        0
recovered       0
tested          0
vaccinated1     0
vaccinated2     0
other          24
dtype: int64

In [50]:
#replacing nan with zero
total=total.fillna(0)
total

,confirmed,deceased,recovered,tested,vaccinated1,vaccinated2,other
AN,7651,129,7518,598033,294001,200157,0.0
AP,2066450,14373,2047722,29518787,32976969,20375181,0.0
AR,55155,280,54774,1185436,771875,534486,0.0
AS,610645,5997,600974,24712042,20172463,8068795,1347.0
BR,726098,9661,716390,50531824,49874828,18346781,1.0
CH,65351,820,64495,792851,926035,546981,0.0
CT,1006052,13577,992159,13709510,14851682,7343273,0.0
DL,1439870,25091,1414431,29427753,13055636,7425404,0.0
DN,10681,4,10644,72410,660753,370255,31.0
GA,178108,3364,174392,1468399,1262568,911114,0.0
GJ,826577,10089,816283,30928063,44735217,25972387,0.0
HP,224106,3738,218410,3685011,5713695,3443823,16.0
HR,771252,10049,761068,13032504,17772376,8115463,0.0
JH,348764,5138,343518,15985878,14986646,5585648,0.0
JK,332249,4432,326915,16202346,9511073,5149471,0.0
KA,2988333,38082,2941578,50873103,42497761,22858384,29.0
KL,4968657,31681,4857181,37886378,25306499,13658343,529.0
LA,20962,208,20687,555568,208798,152280,0.0
LD,10365,51,10270,263541,55129,45951,44.0
MH,6611078,140216,6450585,62667211,67198794,30975692,3619.0
ML,83627,1450,81746,1151665,1103275,641819,0.0
MN,123731,1921,121102,1367673,1249436,719413,0.0
MP,792854,10524,782215,20294225,49911938,20838045,0.0
MZ,121359,432,114612,1298444,711597,512029,0.0
NL,31842,685,29904,395416,709553,490663,1043.0
OR,1041457,8386,1029147,21994343,25736641,11560912,0.0
PB,602401,16559,585591,15429415,15942714,6238973,0.0
PY,128013,1857,125726,1919060,733922,404355,0.0
RJ,954429,8954,945443,14807752,42544909,20097635,0.0
SK,31979,396,31063,261343,521763,451509,325.0
TG,671463,3956,663498,27569831,22498559,9772398,0.0
TN,2702623,36116,2655015,51159242,41279432,17619141,0.0
TR,84468,813,83466,1983127,2508477,1621329,63.0
TT,34285612,458470,33661339,609201294,732371508,330752697,13197.0
UP,1710158,22900,1687151,83635222,98178865,32681895,0.0
UT,343896,7400,330195,7781148,7478017,3898342,6150.0
WB,1592908,19141,1565471,19228303,56192166,21559747,0.0

In [51]:
# checking dtype 
total.dtypes

confirmed        int64
deceased         int64
recovered        int64
tested           int64
vaccinated1      int64
vaccinated2      int64
other          float64
dtype: object

In [53]:
# changing datatype of the all columns together
total=total.astype(int)
total.dtypes

confirmed      int32
deceased       int32
recovered      int32
tested         int32
vaccinated1    int32
vaccinated2    int32
other          int32
dtype: object

In [54]:
total.to_csv(r'D:\total.csv')